@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto:100,300,400,500');



body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
  background: #fff;
  color: black;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 200px;
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
    // background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    // background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    // background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    // background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    // background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
    // background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.google-map {
  width: 450px;
  height: 400px;

}

.stretch {
    width:100%;
    height:80%;
    opacity: 0.7;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

header {
  height: 200px;
  position: relative;

  nav {
    position: absolute;
    top: 0;
    right: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 80px;
	line-height: 10px;

  &:hover, &:focus {
    color: inherit;
    text-decoration: inherit;

    outline: none;
  }
}

h1 {
margin-top: -20px;
  padding: 0;
  font-size: 80px;
  letter-spacing: 12px;
  font-family: 'Righteous', cursive;
  line-height: 125px;
  color: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
}

h2 {
  margin: -18px 0 0 10px;
  font-size: 14px;
  letter-spacing: 10px;
    color:black;


  span {
    font-size: 22px;
    font-weight: bold;
    color:#52D017;
    letter-spacing: 20px;
  }
}
h4{
   font-style: italic;
}

hr {
  border: 0;
  height: 2px;
  background: #333;
  background-image: linear-gradient(to right, #fafafa, #eee, #fafafa);
}

.form-group{
  margin: 0 auto;
  width:35%;
  font-family: proxima-nova, monospace;
}

.form-control{
  font-family: proxima-nova, monospace;
}

.fa-cutlery {
  position: relative;
  top: -55px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-size: 60px;
  color: #eee;
  background: #fff;
  padding: 0 30px;
}

.image-tile {
  margin-bottom: 30px;

  img {
    width: 100%;
    border-radius: 2px;
    padding: 4px;
    background: #fafafa;
    -moz-box-shadow:    inset 0 0 10px #000000;
     -webkit-box-shadow: inset 0 0 10px #000000;
     box-shadow:         inset 0 0 10px #000000;
  }
}

button, .main-button, .standard-button {
  margin-bottom: 20px;

  color: white;
  padding: 5px 10px;
  color: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  border-radius: 2px;
  font-weight: 600;

  font-size: 18px;
  outline: none;
  margin: 10px;
  font-family: proxima-nova, monospace;
  text-align: center;
  margin: 0 auto;


  i {
    margin-right: 5px;
  }
}
// .image-filestack{
//   width: 100%;
// }


.standard-button {
  background: white;
  border: 1px solid lighten(#ccc, 10%);

  &:hover, &:focus {
    color: white;
    background: darken(#ccc, 10%);
  }
}

.main-button {
  background: #52D017;


  &:hover, &:focus {
    color: white;
    background: darken(#52D017, 10%);
  }
}

.save-button {
  background: #378B2E;
  border: 1px solid lighten(#52D017, 10%);

  &:hover, &:focus {
    color: white;
    background: darken(#52D017, 10%);
  }
}

i {
  margin-right: 5px;
}

main {

}

@media screen and (max-width: 750px) {
  .fa-cutlery {
    display: none;
  }
}

//Error Messages
small{
  color: red;
  font-weight: 500;
  font-size: 14px;

}


// Registration, Login Forms
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background: #ededed;
}

input, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

$contW: 900px;
$imgW: 260px;
$formW: $contW - $imgW;
$switchAT: 1.2s;

$inputW: 260px;
$btnH: 36px;

$diffRatio: ($contW - $imgW) / $contW;

@mixin signUpActive {
  .cont.s--signup & {
    @content;
  }
}

.tip {
  font-size: 20px;
  margin: 40px auto 50px;
  text-align: center;
}

.cont {
  overflow: hidden;
  position: relative;
  width: $contW;
  height: 550px;
  margin: 0 auto 100px;
  background: #fff;
}

.form {
  position: relative;
  width: $formW;
  height: 100%;
  transition: transform $switchAT ease-in-out;
  padding: 50px 30px 0;


}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: $formW;
  top: 0;
  width: $contW;
  height: 100%;
  padding-left: $imgW;
  background: #fff;
  transition: transform $switchAT ease-in-out;

  @include signUpActive {
    transform: translate3d($formW * -1,0,0);
  }
}

button {
  display: block;
  margin: 0 auto;
  width: $inputW;
  height: $btnH;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 360px;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: $contW;
    height: 100%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');
    background-size: cover;
    transition: transform $switchAT ease-in-out;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
  }

  @include signUpActive {
    &:before {
      transform: translate3d($formW,0,0);
    }
  }

  &__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: transform $switchAT ease-in-out;

    h2 {
      margin-bottom: 10px;
      font-weight: normal;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
    }

    &.m--up {

      @include signUpActive {
        transform: translateX($imgW*2);
      }
    }

    &.m--in {
      transform: translateX($imgW * -2);

      @include signUpActive {
        transform: translateX(0);
      }
    }
  }

  &__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: $btnH;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;

    &:after {
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #fff;
      border-radius: 30px;
    }

    span {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: transform $switchAT;

      &.m--in {
        transform: translateY($btnH*-2);

        @include signUpActive {
          transform: translateY(0);
        }
      }

      &.m--up {
        @include signUpActive {
          transform: translateY($btnH*2);
        }
      }
    }
  }
}

h2 {
  width: 100%;
  font-size: 26px;
}

label {
  display: block;
  width: $inputW;
  margin: 25px auto 0;
  text-align: center;

  span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
  }
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;

  text-align: center;
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #cfcfcf;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: #d4af7a;
  text-transform: uppercase;
}

.fb-btn {
  border: 2px solid #d3dae9;
  color: darken(#d3dae9, 20%);

  span {
    font-weight: bold;
    color: darken(#768cb6, 20%);
  }
}

.sign-in {
  transition-timing-function: ease-out;

  @include signUpActive {
    transition-timing-function: ease-in-out;
    transition-duration: $switchAT;
    transform: translate3d($formW,0,0);
  }
}

.sign-up {
  transform: translate3d($contW * -1,0,0);

  @include signUpActive {
    transform: translate3d(0,0,0);
  }
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;

  img {
    width: 100%;
    vertical-align: top;
  }

  &--twitter {
    left: auto;
    right: 5px;
  }
}

.vertical-divider{
	clear: both;
	position: relative;
}

.vertical-divider:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}

.vertical-divider .column:not(:first-child):after, .vertical-divider .columns:not(:first-child):after{
	background: #DDDDDD;
	bottom: 0;
	content: " ";
	margin-left: -10px;
	position: absolute;
	top: 0;
	width: 1px;
}

/* Very simple grid for example */
.container { position: relative; width: 1100px; margin: 10px auto; padding: 0; }

.container .column, .container .columns { float: left; display: inline; margin-left: 10px; margin-right: 10px; }

.container .one-third.column { width: 300px; }

.container .two-thirds.column { width: 620px; }




$thick : 3px;
$pad : 0.7em;
$extra : calc(#{$pad} * 1.2);
$color : #f26522;


.portfolio-experiment {
  margin-top: 20px;
  
  // text-transform: uppercase;
  // float: right;


  a {
    color: black;
    font-size: 20px;

    display: inline-block;
    border: $thick solid transparent;
    position: relative;

    cursor: pointer;
    letter-spacing: 0.07em;

    .text {
      padding: 1 0.2em;
      // font-family: proxima-nova, monospace;
      font-family: 'Righteous', cursive;
      transform: translate3d(1,$pad,0);
      display: block;
      margin: 0 auto;
      transition: transform 0.1s cubic-bezier(2,0,0,1) 0.4s;
    }

    &:after {
      position: absolute;
      content: '';
      bottom: -$thick;
      left: $extra;
      right: $extra;

      background: #52D017;
      // z-index: -1;
      transition:
        transform 0.8s cubic-bezier(0.5,0,.1,1) 0.9s,
        right 0.2s cubic-bezier(.04,.48,0,1) 0.9s,
        left 0.4s cubic-bezier(.04,.48,0,1) 0.6s;
        transform-origin: left;
    }

  }

  .line {
    position: absolute;
    background: #52D017;


    &.-right,
    &.-left {
      width: $thick;
      bottom: -$thick;
      top: -$thick;
      transform: scale3d(0,0,0.1);

    }

    &.-top,
    &.-bottom {
      height: $thick;
      left: -$thick;
      right: -$thick;
      transform: scale3d(0,2,10);
    }

    &.-right {
      right: -$thick;
      transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.23s;
      transform-origin: top;
    }

    &.-top {
      top: -$thick;
      transition: transform 0.08s linear 0.43s;
      transform-origin: left;
    }

    &.-left {
      left: -$thick;
      transition: transform 0.08s linear 0.51s;
      transform-origin: bottom;
    }

    &.-bottom {
      bottom: -$thick;
      transition: transform 0.3s cubic-bezier(1,0,.65,1.01);
      transform-origin: right;
    }
  }

  a:hover,
  a:active {

    .text {
      transform: translate3d(0,0,0);
      transition: transform 0.6s cubic-bezier(.2,0,0,1) 0.4s;
    }

    &:after {
      transform: scale3d(0,1,1);
      right: -$thick;
      left: -$thick;
      transform-origin: right;
      transition:
        transform 0.2s cubic-bezier(1,0,.65,1.01) 0.17s,
        right 0.2s cubic-bezier(1,0,.65,1.01),
        left 0s 0.3s;
    }

    .line {
      transform: scale3d(1,1,1);


      &.-right {
        transition: transform 0.1s cubic-bezier(1,0,.65,1.01) 0.2s;
        transform-origin: bottom;

      }

      &.-top {
        transition: transform 0.08s linear 0.4s;
        transform-origin: right;
      }

      &.-left {
        transition: transform 0.08s linear 0.48s;
        transform-origin: top;
      }

      &.-bottom {
        transition: transform 0.5s cubic-bezier(0,.53,.29,1) 0.56s;
        transform-origin: left;
      }
    }

  }
}
